$white: #ffffff;

$blue: #3b82f6; // Blue500

$blue50: #eff6ff;
$blue100: #dbeafe;
$blue200: #bfdbfe;
$blue300: #93c5fd;
$blue400: #60a5fa;
$blue500: #3b82f6;
$blue600: #2563eb;
$blue700: #1d4ed8;
$blue800: #1e40af;
$blue900: #1e3a8a;

$grey: #6b7280; // Grey500

$grey50: #f9fafb;
$grey100: #f3f4f6;
$grey200: #e5e7eb;
$grey300: #d1d5db;
$grey400: #9ca3af;
$grey500: #6b7280;
$grey600: #4b5563;
$grey700: #374151;
$grey800: #1f2937;
$grey900: #111827;
